<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectpintas"
    android:versionCode="1"
    android:versionName=".9" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pintas_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.projectpintas.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainMenu activity -->
        <activity
            android:name="com.projectpintas.MainMenuActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- TestDatabase activity -->
        <activity
            android:name="com.projectpintas.AddStudentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.projectpintas.PickStudentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.projectpintas.ChooseLetterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.projectpintas.DrawingCanvasActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.projectpintas.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.projectpintas.ResultsWk1Activity"
            android:label="@string/title_activity_results_wk1" >
        </activity>
    </application>

</manifest>
